.autocompleteInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  border-radius: 5px;
  text-wrap: nowrap;
  border: 1px var(--theme-light-black) dashed;
}

.autocompleteInputContainer.focused {
  border: 1px solid white;
  outline: 2px solid var(--theme-blue);
}

.selectedOptionsContainer {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

.selectedOption {
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  background-color: var(--theme-light-gray);
  font-size: inherit;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.selectedOption:hover,
.selectedOption:focus {
  text-decoration: line-through;
}

.textInput {
  display: inline-block;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 5px;
  padding-left: 10px;
}

.interTagSpace {
  display: inline-block;
  width: 3px;
}

.textInput:focus {
  outline: none;
}

.dropdownContainer {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  height: min-content;
  width: min-content;
}

.suggestion {
  display: inline-block;
  background-color: white;
  cursor: pointer;
  text-align: left;
  padding: 5px;
  padding-left: 10px;
  border-left: 1px solid var(--theme-light-black);
  border-right: 1px solid var(--theme-light-black);
  border-bottom: 1px dashed var(--theme-light-black);
  font-family: inherit;
  font-size: inherit;
}

.suggestion:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 1px solid var(--theme-light-black);
}

.suggestion:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid var(--theme-light-black);
}

.suggestion.selectedSuggestion,
.suggestion:hover {
  background-color: var(--theme-light-gray);
}

.suggestionsContainer {
  position: absolute;
  display: flex;
  top: 100%;
  margin-top: 2px;
  width: 100%;
  flex-direction: column;
  z-index: 1;
}
