.friendCardContainer {
  padding: 10px;
  padding-left: 15px;
  border: 1px solid var(--theme-light-black);
  border-radius: 15px;
}

.personIconContainer {
  display: inline-block;
  margin-right: 12px;
}

.nameContainer {
  font-size: 1.5em;
}

.firstName {
  display: inline-block;
  font-weight: bold;
}

.lastName {
  display: inline-block;
  margin-left: 0.25em;
  font-style: italic;
}

.actionButtonsContainer {
  display: inline-flex;
  margin-left: 20px;
  flex-direction: row;
  align-items: center;
}

.space {
  display: inline-block;
  width: 10px;
}

.actionButton {
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  height: min-content;
  padding: 0;
  margin: 0;
}
