.friendCardContainer {
  padding: 10px;
  padding-left: 15px;
  border: 1px solid var(--theme-light-black);
  border-radius: 15px;
  cursor: pointer;
  text-align: left;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.personIconContainer {
  display: inline-block;
  margin-right: 12px;
}

.nameContainer {
  font-size: 1.5em;
  font-family: "Noto Serif", serif;
}

.firstName {
  display: inline-block;
  font-weight: bold;
}

.lastName {
  display: inline-block;
  margin-left: 0.25em;
  font-style: italic;
}

.lastMeeting {
  margin-bottom: 3px;
}

.actionButtonsContainer {
  display: inline-flex;
  margin-left: 15px;
  flex-direction: row;
  align-items: center;
}

.space {
  display: inline-block;
  width: 5px;
}

.actionButton {
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
  width: 30px;
  height: 30px;
  margin: 0;
  border-radius: 50%;
}

.actionButton:hover {
  background-color: var(--theme-light-gray);
}

.tagContainer {
  margin-bottom: 3px;
}

.tagDelimiter {
  display: inline-block;
  width: 5px;
}
