.friendDetailPageContainer {
  width: 100vw;
  max-height: 100vh;
  padding-left: 5%;
  box-sizing: border-box;
}

.backButtonContainer {
  margin-bottom: 10px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-content: center;
  height: 35px;
}

.buttonSeparator {
  width: 10px;
}

.friendDetailsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nameContainer {
  font-size: 50px;
  font-family: "Noto Serif", serif;
  margin-bottom: 10px;
}

.tagContainer {
  margin-bottom: 5px;
}

.friendDetails {
  padding-right: 20px;
  max-height: 100vh;
}

.friendTagContainer {
  margin-bottom: 10px;
}

.tagDelimiter {
  display: inline-block;
  width: 5px;
}

.friendNote {
  margin-top: 20px;
  font-size: 20px;
}

.hangListContainer {
  font-size: 22px;
  border-left: 2px solid var(--theme-light-gray);
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.hangTitleContainer {
  position: sticky;
  top: 0;
  background-color: white;
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 20px;
  font-family: "Noto Serif";
  font-style: italic;
}

.hangList {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.noHangsContainer {
  font-size: 18px;
  color: var(--theme-gray);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noHangsMessageContainer {
  text-align: center;
}

.bears {
  margin-bottom: 5px;
}

.noHangsMessage {
  font-style: italic;
}

.noDescription {
  color: var(--theme-gray);
  font-style: italic;
}

.editText {
  background-color: transparent;
  font-size: 20px;
  font-style: italic;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
  color: var(--theme-gray);
  font-weight: bold;
}
