.friendCardContainer {
  margin-bottom: 12px;
  padding: 10px;
  padding-left: 15px;
  border: 1px solid gray;
  border-radius: 15px;
  box-shadow: -1px 1px 0px 0px gray;
}

.personIconContainer {
  display: inline-block;
  margin-right: 12px;
}

.nameContainer {
  font-size: 1.5em;
}

.firstName {
  display: inline-block;
  font-weight: bold;
}

.lastName {
  display: inline-block;
  margin-left: 0.25em;
}
