.friendCardContainer {
  padding: 10px;
  padding-left: 15px;
  border: 1px solid var(--theme-light-gray);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 12px;
  border-radius: 15px;
  text-align: left;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 95px;
  overflow-y: hidden;
}

.personIconContainer {
  display: inline-block;
  margin-right: 12px;
}

.nameContainer {
  font-size: 24px;
  font-family: "Noto Serif", serif;
}

.fullNameContainer {
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
}

.fullNameContainer:hover {
  text-decoration: underline;
}

.firstName {
  display: inline-block;
  font-weight: bold;
  text-decoration: inherit;
}

.lastName {
  display: inline-block;
  font-style: italic;
  text-decoration: inherit;
}

.lastMeeting {
  margin-bottom: 3px;
}

.actionButtonsContainer {
  display: inline-flex;
  margin-left: 15px;
  flex-direction: row;
  align-items: center;
}

.space {
  display: inline-block;
  width: 5px;
}

.actionButton {
  background-color: transparent;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0;
  border-radius: 50%;
}

.actionButton:hover {
  background-color: var(--theme-light-gray);
}

.tagContainer {
  margin-bottom: 3px;
}

.tagDelimiter {
  display: inline-block;
  width: 5px;
}
