.hangContainer {
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--theme-black);
  padding: 10px;
  padding-left: 15px;
  font-size: 16px;
}

.hangWith {
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  font-style: italic;
}

.hangDate {
  font-family: "Noto Serif", serif;
  font-size: 25px;
  font-weight: bold;
}

.friendName {
  font-family: "Source Sans 3";
  font-size: 16px;
  color: inherit;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  text-decoration: underline;
  font-style: inherit;
}

.hangNote {
  margin-top: 10px;
}
