.hangContainer {
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--theme-light-gray);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 12px;
  padding: 10px;
  padding-left: 15px;
  font-size: 16px;
}

.hangWith {
  font-style: italic;
}

.hangDateContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hangDate {
  font-family: "Noto Serif", serif;
  font-size: 25px;
  font-weight: bold;
}

.friendName {
  font-family: "Source Sans 3";
  font-size: 16px;
  color: inherit;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  text-decoration: underline;
  font-style: inherit;
}

.hangNote {
  margin-top: 10px;
}

.actionButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}
