.appContainer {
  width: 100vw;
}

.filterPanel {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 15%;
  padding-right: 15%;
}

.friendListContainer {
  width: 70%;
  margin-left: 15%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}

.themedButton {
  padding: 10px;
  background-color: var(--theme-light-black);
  color: white;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
}

.withinButtonIcon {
  margin-right: 10px;
}

.addFriendButtonContainer {
  flex-grow: 1;
}

.addHangButtonContainer {
  flex-grow: 1;
  text-align: right;
}

.themedButton:hover,
.themedButton:focus {
  background-color: var(--theme-black);
}

.searchInput {
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: 1px dashed var(--theme-light-black);
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.searchIconContainer {
  margin-right: 12px;
  color: var(--theme-light-black);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
