.appContainer {
  width: 100vw;
  font-size: 16px;
}

.header {
  margin-bottom: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 12px;
}

.filterPanel {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  height: 40px;
  position: relative;
}

.friendListContainer {
  width: 80%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
}

@media (max-width: 1650px) {
  .friendListContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1100px) {
  .friendListContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 750px) {
  .friendListContainer {
    grid-template-columns: 1fr;
  }
}

.themedButton {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--theme-light-black);
  color: white;
  border-radius: 5px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
  height: 100%;
  box-sizing: border-box;
  text-wrap: nowrap;
  font-size: 16px;
}

.withinButtonIcon {
  margin-right: 10px;
}

.addFriendButtonContainer {
  flex-grow: 1;
  height: 100%;
}

.addHangButtonContainer {
  flex-grow: 1;
  text-align: right;
  height: 100%;
}

.searchIconContainer {
  position: absolute;
  left: -25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.searchContainer {
  display: inline-block;
  position: relative;
}

.themedButton:hover,
.themedButton:focus {
  background-color: var(--theme-black);
}

div.searchInput {
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  outline: none;
  border: 1px solid var(--theme-light-black);
  border-radius: 5px;
  height: 100%;
  box-sizing: border-box;
}
