.appContainer {
  width: 100vw;
}

.filterPanel {
  width: 100%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.friendListContainer {
  width: 70%;
  margin-left: 15%;
}

.searchInput {
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: 1px solid gray;
  height: 2vw;
  border-radius: 1vw;
  box-shadow: -1px 1px 0px 0px gray;
}

.searchIconContainer {
  margin-right: 0.5vw;
  color: gray;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
