html {
  --theme-black: rgb(36, 37, 40);
  --theme-light-black: rgb(49, 49, 52);
  --theme-light-gray: rgb(237, 238, 243);
  --theme-blue: rgb(79, 137, 208);
}

body {
  margin: 0;
  color: var(--theme-black);
}

button {
  font-family: inherit;
  font-size: inherit;
  border: none;
}

.notoSerifBasic {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.sourceSansBasic {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
